<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <title>Poli Turnos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav class="navbar navbar-dark navbar-expand-lg bg-dark" th:fragment="nav">
    <img src="" alt="Imagen Usuario">
    <h2>Nombre Usuario</h2>
    <span><a href="">icon user</a></span>
    <span><a href=""> icon log out</a></span>
</nav>


</body>
</html>