<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments :: head">
    <title>PoliTurno</title>
</head>
<body>
<nav th:insert="fragments :: nav"></nav>
<section>
    <button>Nuevo Turno</button>
</section>
<section>
    <article>
        <h3>turnos y casos abiertos</h3>
        <table>
            <ol>
                <li></li>
            </ol>
        </table>
    </article>
    <article>
        <h3>turnos y casos pendientes</h3>
    </article>
</section>
<section>
    <h3>Agenda de citas</h3>
</section>
<section>
    <h3>Preguntas Frecuentes</h3>
</section>
</body>
</html>